<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true" keepVariablesOnReload="true">

  <targets>
    <target name="f1" xsi:type="File" fileName="log.log"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="f1" />
  </rules>
  
</nlog>