<script type="text/ng-template" id="newrole.tmpl.html">

    <md-content layout="column" style="padding:10px" ng-controller="AddItemDialogController">
        <md-input-container>
            <label>Имя</label>
            <input ng-model="item.name" />
        </md-input-container>
        <md-input-container>
            <label>Описание</label>
            <input ng-model="item.description" />
        </md-input-container>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="dialogCancel()">Отмена</md-button>
            <md-button ng-click="answer(item)">Сохранить</md-button>
        </md-dialog-actions>
    </md-content>
</script>

<section layout="row">
    <md-button ng-click="showNewItemDialog($event, {templateUrl:'newrole.tmpl.html', ctrl: 'AddItemDialogController'})">Добавить</md-button>
    <md-button ng-click="deleteRoles($event)" ng-if="selectedExist()">Удалить</md-button>
</section>

<md-content class='md-padding' id="leftpanel">
    <md-list flex>
        <md-list-item class="" ng-repeat="role in $ctrl.roles" ng-click='itemClick($event, role)' ng-class="{itemselected:isSelectedItem(role.Name)}">{{role.Name}}</md-list-item>
    </md-list>
</md-content>